//COLORS//
$headergray:#717273;
$selected:#FC8C41;
$pageblue:#41BEFC;
$blacktext:#03070B;
//COLORS//
//BODY//
body,*,*:before,*:after{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
//BODY//
//VARS//
$font-weights: ("regular": 400, "medium": 500, "bold": 700);
$line-heights: ("regular":23.44px,"small":11px,);
$font-sizes:("menu":20px,"smalltext":10px);
//VARS//







//Header//
.menuicon{
    display: none;
}
.logo-text-mobile{
    display: none;
}
.header-container{
    display: flex;
    justify-content: space-between;
    margin: 0px 64px;
    .logo-container{
        display: flex;
        .logo-text{
            padding-top: 8px;
            color: $headergray;
            font-size: 20px;
            line-height: map-get($line-heights,"regular");
            a{
                text-decoration: none;
                color: #039BCB;
            }
        }
    }
    .header-menu{
        list-style: none;
        .header-menu-item{
            float: left;
            padding-left: 16px;
            font-size: 20px;
            line-height: map-get($line-heights,"regular");
            height: 100%;
            display: flex;
            align-items: center;
            a{
                
                color: $headergray;
                text-decoration: none;
                
            }
            a:hover{
                color: $selected;
            }
        }
    }
}

//Header//
//MAIN//
.main-content{
    display: flex;
    justify-content: space-between;
}


//MAIN//

//MAINMENU//
.main-content-menu-container{
    width: 100%;
    .main-content-menu{
        background-color: $pageblue;
        border: 3px solid rgba(18, 43, 64, 0.5);
        height: 86px;
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        .main-content-menu-item{
            font-size: map-get($font-sizes , "menu" ) ;
            line-height: map-get($line-heights , "regular" );
            height: 101%;
            :hover{
                background-color: #114B5FE5;
                color: white;
            }
            a{
                text-align: center;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: $blacktext;
                height: 100%;
               
            }
        }
    }
}

//MAINMENU//

//ARTICLE//
.articles-container{
    display: flex;
    justify-content: space-around;
    border: 2px solid #FC8C41;
    background: rgba(255, 255, 255, 0.2);
    width: 900px;
    height: 405px;
    margin-top: 10px;
    margin-left: 17px;
    .article-preview{
        position: relative;
        .article-preview-image{
            margin: 20px 0px;
            display: block;
            height: 365px;
            width: 620px;
        }
        .article-preview-description
        {
            position: absolute;
            padding: 14px 10px;
            bottom: 15px;
            width: 100%;
            background: rgba(0, 0, 0, 0.4);
            font-size: map-get($font-sizes , "menu" ) ;
            line-height: map-get($line-heights , "regular" );
            color: #FFFFFF;
            .spacer{
                width: 100%;
                height: 1em;
            }
            a{
                text-decoration: none;
                font-size: map-get($font-sizes , "menu" ) ;
                line-height: map-get($line-heights , "regular" );
                color: #FFFFFF;
            }
        }
    }
    .article-list{
        margin: 10px;
        overflow-y: scroll;
        width: 215px;
        article{
            margin-bottom: 10px;
            display: flex;
            width: 200px;
            height: 59px;
            background: #F5F2F2;
            border: 1px solid rgba(252, 93, 65, 0.49);
            p{
                -webkit-user-select:none;
                -moz-user-select:none;
                user-select:none;
                font-size: map-get($font-sizes , "smalltext" ) ;
                line-height: map-get($line-heights , "small");
                margin: 6px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                
            }
        }
        
    }
}



//ARTICLE//














//MOBILE//
@media only screen and (max-width: 600px) {


//Header//
.header-container{
    margin: 0px;
    padding: 0px 21px;
    border-bottom: 3px solid rgba(18, 43, 64, 0.5);
    background-color: $pageblue;
   .logo-container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .logo-text{
            display: none;
        }
        .logo-text-mobile{
            display: block;
            color: black;
            font-size: 20px;
            line-height: map-get($line-heights,"regular");
            text-decoration: underline;
            margin: auto 0px;
        }
        
        .menuicon{
            display: block;
            margin: 0px 15px;
        }
    }
    .header-menu{
        flex-direction: column;
        gap: 0px;
        align-items: flex-end; 
        position: absolute;
        top: 4em;
        right: 0%;
        display: flex;
        padding: 0px;
        width: 0px;
        overflow: hidden;
        .header-menu-item{
            width: 100%;
            white-space: nowrap;
            background-color: $pageblue;
            border-bottom: 1px solid rgba(18, 43, 64, 0.5);
        }
    
}
    .open{
        width: 100%;
    }
}

//Header//

//MAINMENU//
.main-content-menu-container{
    display: none;
}
//MAINMENU//


//MAIN//
.main-content{
    display: block;
}
.sliderbox{
    overflow: hidden;
}
.articles-container{
    height: fit-content;
    width: 100vw;
    justify-content: baseline;
    border: none;
    flex-direction: row;
    margin: 0px;
    .article-preview{
        width: 100vw;
        height: 300px;
        margin: 0px;
        padding: 0px;
        img{
            width: 100vw;
            height: 100%;
        }
        .article-preview-description{
            bottom: 0px;
        }
    }
    .article-list{
       display: none;
    }
}
::-webkit-scrollbar{
    display: none;
}

//MAIN//
}
//MOBILE//









//SCROLLBAR//
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  //SCROLLBAR//
  