body, *, *:before, *:after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.menuicon {
  display: none;
}

.logo-text-mobile {
  display: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 64px;
}
.header-container .logo-container {
  display: flex;
}
.header-container .logo-container .logo-text {
  padding-top: 8px;
  color: #717273;
  font-size: 20px;
  line-height: 23.44px;
}
.header-container .logo-container .logo-text a {
  text-decoration: none;
  color: #039BCB;
}
.header-container .header-menu {
  list-style: none;
}
.header-container .header-menu .header-menu-item {
  float: left;
  padding-left: 16px;
  font-size: 20px;
  line-height: 23.44px;
  height: 100%;
  display: flex;
  align-items: center;
}
.header-container .header-menu .header-menu-item a {
  color: #717273;
  text-decoration: none;
}
.header-container .header-menu .header-menu-item a:hover {
  color: #FC8C41;
}

.main-content-menu-container {
  width: 100%;
}
.main-content-menu-container .main-content-menu {
  background-color: #41BEFC;
  border: 3px solid rgba(18, 43, 64, 0.5);
  height: 86px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-content-menu-container .main-content-menu .main-content-menu-item {
  font-size: 20px;
  line-height: 23.44px;
  height: 101%;
}
.main-content-menu-container .main-content-menu .main-content-menu-item :hover {
  background-color: rgba(17, 75, 95, 0.8980392157);
  color: white;
  font-weight: 500;
}
.main-content-menu-container .main-content-menu .main-content-menu-item a {
  text-align: center;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #03070B;
  height: 100%;
}

.articles-container {
  display: flex;
  justify-content: space-around;
  border: 2px solid #FC8C41;
  background: rgba(255, 255, 255, 0.2);
  width: 900px;
  height: 405px;
  margin-top: 10px;
  margin-left: 17px;
}
.articles-container .article-preview {
  position: relative;
}
.articles-container .article-preview .article-preview-image {
  margin: 20px 0px;
  display: block;
  height: 365px;
  width: 620px;
}
.articles-container .article-preview .article-preview-description {
  position: absolute;
  padding: 14px 10px;
  bottom: 15px;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  font-size: 20px;
  line-height: 23.44px;
  color: #FFFFFF;
}
.articles-container .article-preview .article-preview-description .spacer {
  width: 100%;
  height: 1em;
}
.articles-container .article-preview .article-preview-description a {
  text-decoration: none;
  font-size: 20px;
  line-height: 23.44px;
  color: #FFFFFF;
}
.articles-container .article-list {
  margin: 10px;
  overflow-y: scroll;
  width: 215px;
}
.articles-container .article-list article {
  margin-bottom: 10px;
  display: flex;
  width: 200px;
  height: 59px;
  background: #F5F2F2;
  border: 1px solid rgba(252, 93, 65, 0.49);
}
.articles-container .article-list article p {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  font-size: 10px;
  line-height: 11px;
  margin: 6px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.article-preview-image {
  display: none;
}

@media only screen and (max-width: 600px) {
  .header-container {
    margin: 0px;
    padding: 0px 21px;
    border-bottom: 3px solid rgba(18, 43, 64, 0.5);
    background-color: #41BEFC;
  }
  .header-container .logo-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .header-container .logo-container .logo-text {
    display: none;
  }
  .header-container .logo-container .logo-text-mobile {
    display: block;
    color: black;
    font-size: 20px;
    line-height: 23.44px;
    text-decoration: underline;
    margin: auto 0px;
  }
  .header-container .logo-container .menuicon {
    display: block;
    margin: 0px 15px;
    position: relative;
  }
  .header-container .header-menu {
    flex-direction: column;
    gap: 0px;
    align-items: flex-end;
    position: absolute;
    top: 4em;
    right: 0%;
    width: 100%;
    display: flex;
    padding: 0px;
    transform: translateX(1000px);
  }
  .header-container .header-menu .header-menu-item {
    background-color: #41BEFC;
    width: 100%;
    border-bottom: 1px solid rgba(18, 43, 64, 0.5);
  }
  .header-container .open {
    transform: translateX(0px);
  }
  .main-content-menu-container {
    display: none;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}/*# sourceMappingURL=style.css.map */