//COLORS//
$headergray:#717273;
$selected:#FC8C41;
$pageblue:#41BEFC;
$blacktext:#03070B;
//COLORS//
//BODY//
body,*,*:before,*:after{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
//BODY//
//VARS//
$font-weights: ("regular": 400, "medium": 500, "bold": 700);
$line-heights: ("regular":23.44px,);
$font-sizes:("menu":20px);
//VARS//







//Header//
.menuicon{
    display: none;
}
.logo-text-mobile{
    display: none;
}
.header-container{
    display: flex;
    justify-content: space-between;
    margin: 0px 64px;
    .logo-container{
        display: flex;
        .logo-text{
            padding-top: 8px;
            color: $headergray;
            font-size: 20px;
            line-height: map-get($line-heights,"regular");
            a{
                text-decoration: none;
                color: #039BCB;
            }
        }
    }
    .header-menu{
        list-style: none;
        .header-menu-item{
            float: left;
            padding-left: 16px;
            font-size: 20px;
            line-height: map-get($line-heights,"regular");
            height: 100%;
            display: flex;
            align-items: center;
            a{
                
                color: $headergray;
                text-decoration: none;
                
            }
            a:hover{
                color: $selected;
            }
        }
    }
}

//Header//
//MAINMENU//
.main-content-menu-container{
    width: 100%;
    .main-content-menu{
        background-color: $pageblue;
        border: 3px solid rgba(18, 43, 64, 0.5);
        height: 86px;
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        .main-content-menu-item{
            font-size: map-get($font-sizes , "menu" ) ;
            line-height: map-get($line-heights , "regular" );
            height: 101%;
            :hover{
                background-color: #114B5FE5;
                color: white;
                font-weight: map-get($font-weights, "medium" );
            }
            a{
                text-align: center;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: $blacktext;
                height: 100%;
               
            }
        }
    }
}

//MAINMENU//

//MOBILE//
.article-preview-image{
display: none;
}
@media only screen and (max-width: 600px) {
//Header//
.header-container{
    margin: 0px;
    padding: 0px 21px;
    border-bottom: 3px solid rgba(18, 43, 64, 0.5);
    background-color: $pageblue;
   .logo-container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .logo-text{
            display: none;
        }
        .logo-text-mobile{
            display: block;
            color: black;
            font-size: 20px;
            line-height: map-get($line-heights,"regular");
            text-decoration: underline;
            margin: auto 0px;
        }
        
        .menuicon{
            display: block;
            margin: 0px 15px;
            position: relative;
        }
    }
    .header-menu{
        flex-direction: column;
        gap: 0px;
        align-items: flex-end; 
        position: absolute;
        top: 4em;
        right: 0%;
        width: 100%;
        display: flex;  
        padding: 0px;
        transform: translateX(1000px);
        .header-menu-item{
            background-color: $pageblue;
            width: 100%;
            border-bottom: 1px solid rgba(18, 43, 64, 0.5);
        }
    }
    .open{
        transform: translateX(0px);
    }
}

//Header//

//MAINMENU//
.main-content-menu-container{
    display: none;
}
//MAINMENU//

}
//MOBILE//